# Gradle ve build klasörleri
.gradle/
build/

# Android Studio ayarları
*.iml
.idea/

# Lokal ayarlar
local.properties

# Log dosyaları
*.log

# OS dosyaları
.DS_Store
Thumbs.db

# Android Studio screenshot ve capture
captures/

# Kotlin/Java derleme çıktıları
out/

# Diğer
*.apk
*.keystore

